services:
  authdb:
    container_name: authdb
    restart: always
    ports:
        - "5432:5432"
    volumes:
        - authdb_volume:/var/lib/postgres/data
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=1234
        - POSTGRES_DB=LawyerBasketAuthService 
  postdb:
    container_name: postdb
    restart: always
    ports:
        - "27017:27017"
    volumes:
       - postdb_volume:/data/db  
  profiledb:
    container_name: profiledb
    restart: always
    ports:
        - "5433:5432" 
    volumes:
        - profiledb_volume:/var/lib/postgres/data
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=1234
        - POSTGRES_DB=LawyerBasketProfileService  
  socialdb:
    container_name: socialdb
    restart: always
    ports:
        - "5434:5432" 
    volumes:
        - socialdb_volume:/var/lib/postgres/data 
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=1234
        - POSTGRES_DB=LawyerBasketSocialService 
  authservice.api:
    container_name: authservice.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings:PostgreSql=Host=authdb;Port=5432;Database=LawyerBasketAuthService;Username=postgres;Password=1234"
    ports:
        - "7299:8080"
    depends_on:
       - authdb
  profileservice.api:
    container_name: profileservice.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings:PostgreSql=Host=profiledb;Port=5432;Database=LawyerBasketProfileService;Username=postgres;Password=1234"
    ports:
        - "7141:8080"
    depends_on:
        - profiledb